p Agradecemos por sua resposta. O número #{malicousPhoneNumber} foi adicionado à nossa lista negra. Embora isso não impeça que ele envie mensagens através do WhatsApp, é uma medida preventiva importante.

p Recomendamos que você também bloqueie o número diretamente no WhatsApp para evitar futuros contatos indesejados. Continuamos à disposição para ajudar em qualquer outra dúvida ou questão de segurança.
    
p A sua segurança é nossa prioridade. Obrigado por colaborar conosco.