p Agradecemos por sua resposta. Respeitamos sua decisão de não adicionar o número #{malicousPhoneNumber} à nossa lista negra. 
  
p Lembramos que é importante continuar atento(a) e seguir as medidas de segurança recomendadas:
ul
    li Bloqueie o número em seu dispositivo.
    li Não responda nem forneça informações pessoais ou financeiras.
    li Reporte qualquer mensagem suspeita que receber.
  
p Caso mude de ideia ou precise de assistência adicional, estamos à disposição para ajudar.
  
p A sua segurança é nossa prioridade. Obrigado por colaborar conosco.